body{
	background-color:#fff !important;
}
.drop-down-wrapper {
   /* width: 220px !important;*/
}

.hometab{
	font-size:14px;
	font-weight:bold;
}
.main-container {
    margin-top: 50px;
}
.padding-left-0{
	padding-left:0px;
} 
.padding-right-0{
	padding-right:0px;
}
.no-border{
	border:none;
}
.margin-0{
	margin:0px !important; 
}
.padding-0{
	padding:0px !important; 
}
.margin-right-0{
	margin-right:0px;
}
.margin-left-0{
	margin-left:0px;
}
.border-radious-0{
	border-radius:0; 
}
.border-none{
	border:0; 
}
.btn-custom-side-padding{
	padding:6px;
}
.panel-scroll{
	height:100%; 
}
.custom-file-upload {
  /*border: 1px solid #ccc;*/
  display: inline-block;
  padding: 6px 12px 0px 0px;
  cursor: pointer;
}
 .attachment {
  position: absolute;
  /* right: 60px; */
  z-index: 4;
  margin-top: 1px;
  font-size: 1.5em;
  /* color: #435f7a; */
  /* opacity: .5; */
  cursor: pointer;
}

.attachment:hover {
  opacity: 1;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}
.avatar{
	width:25px !important;
}
.other .messages {
    margin-left: 37px;
}
.self .messages {
    margin-right: 37px;
}
.time_date_sent{
	color: #c3b6b6;
	font-size:10px;
	margin-right: 2px;
}
.time_date{
	color: #c3b6b6;
	font-size:10px;
	margin-left: 2px;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-right-5{
	margin-right: 5px;
}
.replied_message_p {
	padding: 2px 15px !important;
	font-size:10px !important;
	color:#fff;
	margin-bottom:-1px;
	margin-right: 4px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	background: #435f7a !important;
	border-top-left-radius:0px !important;
}
.replied_message_p_l {
    padding: 2px 15px !important;
    font-size: 10px !important;
    margin-bottom: -1px;
    margin-left: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #f5f5f5 !important;
    border-top-right-radius: 0px !important;
	float:left !important;
}
.background-gray{
	background-color:#e5e5ea;;
}
.thread-image{
	width:20px !important;
	height:25px !important;
}
.navbar-tools{
	padding-bottom: 2px;
	padding-top: 2px;
}
.navbar-tools > ul > li > a {
    font-size: 18px;
    line-height: 26px;
}
.footer {
	padding-top: 2px;
	padding-bottom: 3px;
}
.fa-home{
	font-size: 32px;
	color: #114177;
	margin-bottom:5px;
}
#page-sidebar .sidebar-wrapper .nav-tabs li a{
	font-weight:bold;
}
.padding-10{
	padding:20px 10px 0px 10px;
}
.font-weight-bold{
	font-weight:bold;
}
div.timeline_element div.timeline_title {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff !important;
    font-weight: bold;
}
div.timeline_element div.timeline_title span.timeline_date {
     font-size: 10px;
}
.sidebar-search {
	margin: -8px 20px 0 0 !important;
}
.other{
	margin-right:45px;
}
.self{
	margin-left:45px;
}
.alert-warning-important{
	color: #8a6d3b !important;
	background-color: #fcf8e3!important;
	border-color: #faebcc!important;
}
.success-warning-important{
	color: #3c763d!important;
	background-color: #dff0d8!important;
	border-color: #d6e9c6!important;
}
.group_message_btn {
	margin: -8px 15px 0 0 !important;
    padding: 0 30px 2px 5px;
    display: inline-block;
    border-radius: 5px;
    color: #555555;
    position: absolute;
    right: 10px;
    top: 13.5px;
    min-height: 28px;
    min-width: 28px;
}

.dropdown-menu > li > a{
	padding: 2px 8px;
	
}
